@charset "UTF-8";

/*
// .about-us  .delivery-us
*/
.about-us__image {
    background-image: url("../images/aboutus.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 500px;
}

.about-us__body {
    background: #fff;
    min-height: 380px;
    margin-top: -380px;
    border-radius: 4px 4px 0 0;
    padding: 75px 92px;
}

.about-us__title {
    text-align: center;
    margin-bottom: 50px;
}

.about-us__text {
    text-align: center;
}
.about-us__text_no_center {
    text-align: left;
    margin: -21px -72px 0px -63px;
}

.delivery-us__text_no_center {
    text-align: left;
    margin: -16px -71px 0px -66px;
}

.about-us__team {
    margin-top: 75px;
    text-align: center;
}

.about-us__team-subtitle {
    margin-top: 24px;
}

.about-us__teammates {
    margin-top: 42px;
}

.teammates .owl-carousel .owl-dots {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.teammates .owl-carousel .owl-dots.disabled {
    display: none;
}
.teammates .owl-carousel .owl-dot {
    display: block;
    color: #e5e5e5;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.teammates .owl-carousel .owl-dot::before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: currentColor;
    margin: 6px;
}
.teammates .owl-carousel .owl-dot:focus {
    outline: none;
}
.teammates .owl-carousel .owl-dot:hover {
    color: #ccc;
}
.teammates .owl-carousel .owl-dot.active {
    color: #47991f;
}

.teammate__avatar img {
    max-width: 100%;
    border-radius: 2px;
}

.teammate__name {
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}

.teammate__position {
    font-size: 14px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .about-us__image {
        height: 460px;
    }

    .about-us__title {
        margin-bottom: 36px;
    }

    .about-us__body {
        padding: 50px;
    }

    .about-us__team {
        margin-top: 75px;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .about-us__image {
        height: 360px;
    }

    .about-us__title {
        margin-bottom: 24px;
    }

    .about-us__body {
        min-height: 290px;
        margin-top: -290px;
        padding: 40px;
    }

    .about-us__team {
        margin-top: 50px;
    }
}
@media (max-width: 767px) {
    .about-us__image {
        height: 330px;
    }

    .about-us__body {
        min-height: 290px;
        margin-top: -290px;
        padding: 30px 24px;
    }

    .about-us__title {
        margin-bottom: 20px;
    }

    .about-us__team {
        margin-top: 50px;
    }
}