@charset "UTF-8";


/*
// .block-posts
*/
.block-posts {
    position: relative;
    z-index: 1;
}

@media (min-width: 576px) {
    .block-posts[data-layout=list] .post-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .block-posts[data-layout=list] .post-card .post-card__image {
        width: 240px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    [dir=ltr] .block-posts[data-layout=list] .post-card .post-card__image {
        margin-right: 22px;
    }
    [dir=rtl] .block-posts[data-layout=list] .post-card .post-card__image {
        margin-left: 22px;
    }
    .block-posts[data-layout=list] .post-card .post-card__name {
        margin-top: 0px;
        font-size: 16px;
        line-height: 20px;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        height: 40px;
        overflow: hidden;
    }
    .block-posts[data-layout=list] .post-card .post-card__date {
        margin-top: -14px;
    }
    .block-posts[data-layout=list] .post-card .post-card__category {
        display: none;
    }
    .block-posts[data-layout=list] .post-card .post-card__content {
        margin-top: 3px;
        font-size: 15px;
        line-height: 22px;
        /*height: 66px;*/
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .block-posts[data-layout=list] .post-card .post-card__read-more {
        /*display: none;*/
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .block-posts[data-layout=list] .post-card .post-card__image {
        width: 210px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    [dir=ltr] .block-posts[data-layout=list] .post-card .post-card__image {
        margin-right: 18px;
    }
    [dir=rtl] .block-posts[data-layout=list] .post-card .post-card__image {
        margin-left: 18px;
    }
    .block-posts[data-layout=list] .post-card .post-card__name {
        margin-top: 5px;
        font-size: 15px;
        line-height: 19px;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .block-posts[data-layout=list] .post-card .post-card__date {
        margin-top: 4px;
    }
    .block-posts[data-layout=list] .post-card .post-card__category {
        display: none;
    }
    .block-posts[data-layout=list] .post-card .post-card__content {
        margin-top: 10px;
        font-size: 15px;
        line-height: 20px;
        height: 60px;
        overflow: hidden;
    }
    .block-posts[data-layout=list] .post-card .post-card__read-more {
        display: none;
    }
}
@media (max-width: 575px) {
    .block-posts[data-layout=list] .post-card .post-card__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .block-posts[data-layout=list] .post-card .post-card__image {
        margin-bottom: 14px;
    }
    .block-posts[data-layout=list] .post-card .post-card__category {
        display: none;
    }
    .block-posts[data-layout=list] .post-card .post-card__date {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .block-posts[data-layout=list] .post-card .post-card__name {
        width: 100%;
        font-size: 18px;
        margin-top: 4px;
        line-height: 22px;
    }
    .block-posts[data-layout=list] .post-card .post-card__content {
        width: 100%;
        margin-top: 12px;
        /*height: 66px;*/
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .block-posts[data-layout=list] .post-card .post-card__read-more {
        width: 100%;
        display: none;
    }
}

.block-posts[data-layout^=grid-] .post-card .post-card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.block-posts[data-layout^=grid-] .post-card .post-card__image {
    margin-bottom: 14px;
}
.block-posts[data-layout^=grid-] .post-card .post-card__category {
    display: none;
}
.block-posts[data-layout^=grid-] .post-card .post-card__date {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}
.block-posts[data-layout^=grid-] .post-card .post-card__name {
    width: 100%;
    font-size: 18px;
    margin-top: 4px;
    line-height: 22px;
}
.block-posts[data-layout^=grid-] .post-card .post-card__content {
    width: 100%;
    margin-top: 12px;
}
.block-posts[data-layout^=grid-] .post-card .post-card__read-more {
    width: 100%;
    display: none;
}

@media (min-width: 460px) and (max-width: 767px) {
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__image {
        margin-bottom: 10px;
    }
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__date {
        font-size: 14px;
        margin: -1px 0;
    }
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__name {
        font-size: 15px;
        margin-top: 4px;
        line-height: 20px;
    }
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__content {
        margin-top: 6px;
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 459px) {
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__image {
        margin-bottom: 7px;
    }
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__date {
        font-size: 13px;
    }
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__name {
        margin-top: 4px;
        font-size: 14px;
        line-height: 18px;
    }
    .block-posts[data-layout=grid-3][data-mobile-columns="2"] .post-card .post-card__content {
        margin-top: 4px;
        font-size: 14px;
        line-height: 18px;
    }
}

@media (min-width: 460px) {
    .block-posts[data-layout=grid-4] .post-card .post-card__image {
        margin-bottom: 10px;
    }
    .block-posts[data-layout=grid-4] .post-card .post-card__date {
        font-size: 14px;
        margin: -1px 0;
    }
    .block-posts[data-layout=grid-4] .post-card .post-card__name {
        font-weight: bold;
        font-size: 15px;
        margin-top: 4px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .block-posts[data-layout=grid-4] .post-card .post-card__content {
        margin-top: 6px;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
@media (max-width: 459px) {
    .block-posts[data-layout=grid-4][data-mobile-columns="2"] .post-card .post-card__image {
        margin-bottom: 7px;
    }
    .block-posts[data-layout=grid-4][data-mobile-columns="2"] .post-card .post-card__date {
        font-size: 13px;
    }
    .block-posts[data-layout=grid-4][data-mobile-columns="2"] .post-card .post-card__name {
        margin-top: 4px;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .block-posts[data-layout=grid-4][data-mobile-columns="2"] .post-card .post-card__content {
        margin-top: 4px;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}