@charset "UTF-8";

/*
// .block-categories
*/
.block-categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -6px;
}

.block-categories__item {
    margin: 6px;
    width: calc(33.3333% - 12px);
}

@media (min-width: 480px) and (max-width: 767px) {
    .block-categories--layout--classic .block-categories__item {
        width: calc(50% - 12px);
    }
}
@media (max-width: 479px) {
    .block-categories--layout--classic .block-categories__item {
        width: calc(100% - 12px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .block-categories--layout--compact .block-categories__item {
        width: calc(50% - 12px);
    }
}
@media (max-width: 767px) {
    .block-categories--layout--compact .block-categories__item {
        width: calc(100% - 12px);
    }
}