@charset "UTF-8";

/*
// .block-product-columns
*/
.block-product-columns__item {
    position: relative;
}
.block-product-columns__item + .block-product-columns__item {
    margin-top: -1px;
}
.block-product-columns__item:hover {
    z-index: 2;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .block-product-columns .product-card .product-card__image {
        width: 110px;
    }
    .block-product-columns .product-card .product-card__rating {
        display: none;
    }
    [dir=ltr] .block-product-columns .product-card .product-card__actions {
        left: 110px;
    }
    [dir=rtl] .block-product-columns .product-card .product-card__actions {
        right: 110px;
    }
}