@charset "UTF-8";

/*
// .dashboard
*/
.dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dashboard__orders {
    margin-top: 24px;
    width: 100%;
}

@media (min-width: 768px) {
    .dashboard__profile,
    .dashboard__address {
        width: calc(50% - 12px);
    }
}
@media (max-width: 767px) {
    .dashboard__profile,
    .dashboard__address {
        width: 100%;
    }

    .dashboard__address {
        margin-top: 24px;
    }
}