@charset "UTF-8";

/*
// .product__tabs
*/
@-webkit-keyframes product-tabs-sticky {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes product-tabs-sticky {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes product-tabs-sticky-header {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(54px);
        transform: translateY(54px);
    }
}
@keyframes product-tabs-sticky-header {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(54px);
        transform: translateY(54px);
    }
}
@-webkit-keyframes product-tabs-sticky-header-hidden {
    from {
        -webkit-transform: translateY(54px);
        transform: translateY(54px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes product-tabs-sticky-header-hidden {
    from {
        -webkit-transform: translateY(54px);
        transform: translateY(54px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.product-tabs {
    margin-top: 0px;
}

.product-tabs__list {
    height: 68px;
    margin-bottom: -2px;
}

.product-tabs__list-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.product-tabs__list-container::after, .product-tabs__list-container::before {
    content: "";
    display: block;
    width: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.product-tabs__item {
    font-size: 20px;
    padding: 17px 48px;
    border-bottom: 5px solid transparent;
    color: inherit;
    font-weight: 500;
    border-radius: 3px 3px 0 0;
    white-space: nowrap;
    -webkit-transition: border-color 0.15s, background-color 0.15s;
    transition: border-color 0.15s, background-color 0.15s;
}
.product-tabs__item:hover {
    color: inherit;
    background: #f7f7f7;
    border-bottom-color: #d9d9d9;
}
[dir=ltr] .product-tabs__item:first-child {
    margin-left: auto;
}
[dir=rtl] .product-tabs__item:first-child {
    margin-right: auto;
}
[dir=ltr] .product-tabs__item:last-child {
    margin-right: auto;
}
[dir=rtl] .product-tabs__item:last-child {
    margin-left: auto;
}

.product-tabs__item--active {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.product-tabs__item--active, .product-tabs__item--active:hover {
    cursor: default;
    border-bottom-color: #47991f;
    background: transparent;
}

.product-tabs__content {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 80px 90px;
}

.product-tabs__pane {
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.product-tabs__pane--active {
    overflow: visible;
    height: auto;
    opacity: 1;
}

.product-tabs--layout--sidebar .product-tabs__list {
    height: 60px;
}
.product-tabs--layout--sidebar .product-tabs__item {
    padding: 14px 30px;
}
.product-tabs--layout--sidebar .product-tabs__content {
    padding: 48px 50px;
}

.product-tabs--stuck .product-tabs__list-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 5;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.02);
    -webkit-animation-name: product-tabs-sticky;
    animation-name: product-tabs-sticky;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.product-tabs--stuck .product-tabs__list-body:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 54px;
    background: inherit;
}
.product-tabs--stuck .product-tabs__item {
    padding: 8px 20px;
    font-size: 16px;
}

.product-tabs--stuck.product-tabs--header-stuck .product-tabs__list-body {
    -webkit-animation-name: product-tabs-sticky-header;
    animation-name: product-tabs-sticky-header;
}

.product-tabs--stuck.product-tabs--header-stuck-hidden .product-tabs__list-body {
    -webkit-animation-name: product-tabs-sticky-header-hidden;
    animation-name: product-tabs-sticky-header-hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .product-tabs__content {
        padding: 60px 70px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .product-tabs {
        margin-top: 40px;
    }

    .product-tabs__list {
        height: 60px;
    }

    .product-tabs:not(.product-tabs--stuck) .product-tabs__item {
        padding: 14px 30px;
    }

    .product-tabs .product-tabs__content {
        padding: 40px 50px;
    }
}
@media (max-width: 767px) {
    .product-tabs {
        margin-top: 24px;
    }

    .product-tabs__list, .product-tabs--layout--sidebar .product-tabs__list {
        height: 52px;
    }

    .product-tabs:not(.product-tabs--stuck) .product-tabs__item {
        padding: 10px 22px;
    }

    .product-tabs .product-tabs__content {
        padding: 24px;
    }
}