@charset "UTF-8";

/*
// .widget
*/
.widget__title {
    margin-bottom: 20px;
    font-size: 20px;
}

/*
// .widget-aboutus
*/
.widget-aboutus {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 28px;
}

.widget-aboutus__socials {
    display: block;
    margin-top: 20px;
}

/*
// .widget-categories
*/
.widget-categories {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 28px;
}

.widget-categories__list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 18px;
    font-size: 16px;
}

.widget-categories__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.widget-categories__row a {
    position: relative;
    display: block;
    color: inherit;
    padding-top: 7px;
    padding-bottom: 7px;
    fill: #ccc;
    -webkit-transition: 0.15s color;
    transition: 0.15s color;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
[dir=ltr] .widget-categories__row a {
    padding-left: 16px;
    padding-right: 10px;
}
[dir=rtl] .widget-categories__row a {
    padding-right: 16px;
    padding-left: 10px;
}
.widget-categories__row a:hover {
    color: #47991f;
}

.widget-categories__arrow {
    position: absolute;
    top: calc(50% - 5px);
}
[dir=ltr] .widget-categories__arrow {
    left: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
[dir=rtl] .widget-categories__arrow {
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.widget-categories__expander {
    margin-top: 1px;
    width: 28px;
    height: 28px;
    position: relative;
    border: none;
    border-radius: 1.5px;
    cursor: pointer;
    padding: 0;
    background: transparent;
    color: #ccc;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
[dir=ltr] .widget-categories__expander {
    margin-right: -10px;
}
[dir=rtl] .widget-categories__expander {
    margin-left: -10px;
}
.widget-categories__expander:focus, .widget-categories__expander:hover {
    background: #f2f2f2;
    color: #a6a6a6;
}
.widget-categories__expander:focus {
    outline: none;
}
.widget-categories__expander::before, .widget-categories__expander::after {
    display: block;
    position: absolute;
    content: "";
    background: currentColor;
}
.widget-categories__expander::before {
    width: 8px;
    height: 2px;
    top: calc(50% - 1px);
}
[dir=ltr] .widget-categories__expander::before {
    left: calc(50% - 4px);
}
[dir=rtl] .widget-categories__expander::before {
    right: calc(50% - 4px);
}
.widget-categories__expander::after {
    width: 2px;
    height: 8px;
    top: calc(50% - 4px);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}
[dir=ltr] .widget-categories__expander::after {
    left: calc(50% - 1px);
}
[dir=rtl] .widget-categories__expander::after {
    right: calc(50% - 1px);
}

.widget-categories__subs {
    overflow: hidden;
    height: 0;
    opacity: 0;
    visibility: hidden;
    font-size: 15px;
    line-height: 26px;
    -webkit-transition: height 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: height 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.widget-categories__subs ul {
    list-style: none;
    padding: 6px 0 8px 0;
    margin: 0;
}
.widget-categories__subs li {
    position: relative;
}
[dir=ltr] .widget-categories__subs li {
    padding-left: 32px;
}
[dir=rtl] .widget-categories__subs li {
    padding-right: 32px;
}
.widget-categories__subs li::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    width: 6px;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
[dir=ltr] .widget-categories__subs li::before {
    left: 16px;
}
[dir=rtl] .widget-categories__subs li::before {
    right: 16px;
}
.widget-categories__subs a {
    color: inherit;
    -webkit-transition: 0.15s color;
    transition: 0.15s color;
}
.widget-categories__subs a:hover {
    color: #47991f;
}

.widget-categories__item--open .widget-categories__expander::after {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.widget-categories__item--open .widget-categories__subs {
    height: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s, 0s, 0s;
    transition-delay: 0s, 0s, 0s;
}

.widget-categories--location--shop {
    padding: 20px;
}

/*
// .widget-comments
*/
.widget-comments {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 28px;
}
.widget-comments a {
    color: inherit;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.widget-comments a:hover {
    color: #47991f;
}

.widget-comments__list {
    list-style: none;
    margin: 0;
    padding: 8px 0 4px;
}

.widget-comments__item + .widget-comments__item {
    margin-top: 26px;
}

.widget-comments__author {
    font-size: 15px;
    line-height: 18px;
}
.widget-comments__author a {
    border-bottom: 2px solid #ebebeb;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}
.widget-comments__author a:hover {
    border-color: rgba(71, 153, 31, 0.8);
}

.widget-comments__content {
    margin-top: 12px;
    font-size: 15px;
    line-height: 20px;
}

.widget-comments__meta {
    margin-top: 4px;
    font-size: 13px;
    color: #999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
}

.widget-comments__date {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.widget-comments__name {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
[dir=ltr] .widget-comments__name {
    padding-left: 20px;
}
[dir=rtl] .widget-comments__name {
    padding-right: 20px;
}
.widget-comments__name::before {
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 2px;
    top: 8px;
}
[dir=ltr] .widget-comments__name::before {
    left: 8px;
}
[dir=rtl] .widget-comments__name::before {
    right: 8px;
}

/*
// .widget-filters
*/
.widget-filters {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 20px;
}

.widget-filters__item {
    padding: 8px 20px;
    margin: 0 -20px;
    border-bottom: 2px solid #f0f0f0;
}
.widget-filters__item:first-child {
    border-top: 2px solid #f0f0f0;
}

.widget-filters__actions {
    padding-top: 24px;
    padding-bottom: 16px;
}
[dir=ltr] .widget-filters__actions > .btn + .btn {
    margin-left: 8px;
}
[dir=rtl] .widget-filters__actions > .btn + .btn {
    margin-right: 8px;
}

.widget-filters--offcanvas--always {
    border: none;
    padding-top: 0;
}
.widget-filters--offcanvas--always .widget-filters__title {
    display: none;
}
.widget-filters--offcanvas--always .widget-filters__item:first-child {
    border-top: none;
}
.widget-filters--offcanvas--always .widget-filters__item {
    border-width: 1px;
}

@media (max-width: 991px) {
    .widget-filters--offcanvas--mobile {
        border: none;
        padding-top: 0;
    }
    .widget-filters--offcanvas--mobile .widget-filters__title {
        display: none;
    }
    .widget-filters--offcanvas--mobile .widget-filters__item:first-child {
        border-top: none;
    }
    .widget-filters--offcanvas--mobile .widget-filters__item {
        border-width: 1px;
    }
}

/*
// .widget-newsletter
*/
.widget-newsletter {
    background: #f5f5f5;
    border-radius: 2px;
    padding: 32px 30px 36px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
}

.widget-newsletter__title {
    font-size: 24px;
    padding-top: 6px;
    margin-bottom: 24px;
}

.widget-newsletter__text {
    margin-bottom: 22px;
}

.widget-newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*
// .widget-posts
*/
.widget-posts {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 28px;
}

.widget-posts__list {
    padding-top: 10px;
}

.widget-posts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.widget-posts__item + .widget-posts__item {
    margin-top: 22px;
}

.widget-posts__image {
    width: 90px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 1.5px;
    overflow: hidden;
    -ms-flex-item-align: self-start;
    align-self: self-start;
    position: relative;
}
[dir=ltr] .widget-posts__image {
    margin-right: 16px;
}
[dir=rtl] .widget-posts__image {
    margin-left: 16px;
}
.widget-posts__image ::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    z-index: 1;
}
.widget-posts__image img {
    max-width: 100%;
    display: block;
}
.widget-posts__image:hover ::before {
    opacity: 1;
}

.widget-posts__info {
    margin-top: -2px;
}

.widget-posts__name {
    font-size: 15px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.widget-posts__name a {
    color: inherit;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.widget-posts__name a:hover {
    color: #47991f;
}

.widget-posts__date {
    margin-top: 2px;
    font-size: 13px;
    color: #999;
}

/*
// .widget-products
*/
.widget-products {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 20px;
}

.widget-products__list {
    padding-top: 8px;
}

.widget-products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.widget-products__item + .widget-products__item {
    margin-top: 18px;
}

.widget-products__image {
    width: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
[dir=ltr] .widget-products__image {
    margin-right: 12px;
}
[dir=rtl] .widget-products__image {
    margin-left: 12px;
}
.widget-products__image img {
    max-width: 100%;
}

.widget-products__name {
    margin-top: -2px;
    font-size: 14px;
    line-height: 17px;
}
.widget-products__name a {
    color: inherit;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.widget-products__name a:hover {
    color: #47991f;
}

.widget-products__prices {
    padding-top: 2px;
    font-size: 14px;
    font-weight: 700;
    color: #3d464d;
}

.widget-products__new-price {
    color: #ff2626;
}

.widget-products__old-price {
    color: #b3b3b3;
    font-weight: 400;
    font-size: 12px;
    text-decoration: line-through;
}

/*
// .widget-search
*/
.widget-search {
    height: 48px;
}

.widget-search__body {
    position: relative;
    height: 100%;
}

.widget-search__input {
    -webkit-box-shadow: 0 0 0 2px #ededed inset;
    box-shadow: 0 0 0 2px #ededed inset;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
[dir=ltr] .widget-search__input {
    padding-left: 18px;
    padding-right: 48px;
}
[dir=rtl] .widget-search__input {
    padding-right: 18px;
    padding-left: 48px;
}
.widget-search__input:hover {
    -webkit-box-shadow: 0 0 0 2px #d9d9d9 inset;
    box-shadow: 0 0 0 2px #d9d9d9 inset;
}
.widget-search__input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px #47991f inset;
    box-shadow: 0 0 0 2px #47991f inset;
}
.widget-search__input::-webkit-input-placeholder {
    color: #999;
}
.widget-search__input::-moz-placeholder {
    color: #999;
}
.widget-search__input:-ms-input-placeholder {
    color: #999;
}
.widget-search__input::-ms-input-placeholder {
    color: #999;
}
.widget-search__input::placeholder {
    color: #999;
}

.widget-search__button {
    height: 48px;
    width: 48px;
    cursor: pointer;
    position: absolute;
    top: 0;
    background: transparent;
    border: none;
    padding: 0;
    fill: #ccc;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}
[dir=ltr] .widget-search__button {
    right: 0;
}
[dir=rtl] .widget-search__button {
    left: 0;
}
.widget-search__button svg {
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}
.widget-search__button:focus {
    outline: none;
}
.widget-search__button:focus, .widget-search__button:hover {
    fill: #47991f;
}

/*
// .widget-tags
*/
.widget-tags {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 28px;
}
/*# sourceMappingURL=style.css.map */
.block-banner__text:hover {
    color: #47991f;
}