@charset "UTF-8";

/*
// .widget-search
*/
.widget-search {
    height: 48px;
}

.widget-search__body {
    position: relative;
    height: 100%;
}

.widget-search__input {
    -webkit-box-shadow: 0 0 0 2px #ededed inset;
    box-shadow: 0 0 0 2px #ededed inset;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
[dir=ltr] .widget-search__input {
    padding-left: 18px;
    padding-right: 48px;
}
[dir=rtl] .widget-search__input {
    padding-right: 18px;
    padding-left: 48px;
}
.widget-search__input:hover {
    -webkit-box-shadow: 0 0 0 2px #d9d9d9 inset;
    box-shadow: 0 0 0 2px #d9d9d9 inset;
}
.widget-search__input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px #47991f inset;
    box-shadow: 0 0 0 2px #47991f inset;
}
.widget-search__input::-webkit-input-placeholder {
    color: #999;
}
.widget-search__input::-moz-placeholder {
    color: #999;
}
.widget-search__input:-ms-input-placeholder {
    color: #999;
}
.widget-search__input::-ms-input-placeholder {
    color: #999;
}
.widget-search__input::placeholder {
    color: #999;
}

.widget-search__button {
    height: 48px;
    width: 48px;
    cursor: pointer;
    position: absolute;
    top: 0;
    background: transparent;
    border: none;
    padding: 0;
    fill: #ccc;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}
[dir=ltr] .widget-search__button {
    right: 0;
}
[dir=rtl] .widget-search__button {
    left: 0;
}
.widget-search__button svg {
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}
.widget-search__button:focus {
    outline: none;
}
.widget-search__button:focus, .widget-search__button:hover {
    fill: #47991f;
}